*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 243, 240);
}
.search-container {
    text-align: center;
}

.search-bar {
    width: 300px; /* Set your desired width */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(174, 176, 176);
    padding: 5px 20px;
}
nav img{
    width: 50px;
    height: 50px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 10px;
}
header{
    background-image: linear-gradient(to right,rgba(68,68,68,0.27),#35901e),
    url(https://tse3.mm.bing.net/th?id=OIP.FR5GvHmqxPZ1cUeyHP1KAgHaE-&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
   background-size: contain;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 100px;
}
 header .header-content{
    width: 350px;
    color: rgb(174, 226, 43);
}
/* main styling */

main .row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
h3{
    color: aliceblue;
}  
main .shirt{
    background-color:darkgreen;
    width: 300px;
    padding: 25px;
    text-align: center;
    box-shadow: 1px 1px 10px grey;
    border-radius: 10px;
    margin-top: 50px; 
    position: relative;
    z-index: 0;
}
  
  main img{
    width: 220px;
  }
  
  main button{
    padding: 5px 10px;
    background-color: yellow;
    border: none;
    font-size: 1.1rem;
  }

.fix{
    height: 80vh;
}



/* footer styles */
footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(2, 108, 68);
    color: white;
    padding: 35px;
}


.logo{
    position: absolute;
    width: 70px;
    top: -25px;
    right: -25px;
}





