
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(https://media.istockphoto.com/id/1403845758/video/waste-separation-concept-classify-before-discarding-to-help-the-world-in-making-materials.jpg?s=640x640&k=20&c=BbqIxilGnNZuj5SMAfiflruV66Gg4LAww2shSQWTe9A=);
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.login-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #f3f9f3;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin-left: 190px;
}

.login-container h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.show-password-button{
   width: 25%;
   margin: 50px;
   font-size: 0.7rem;
   background-color: blue;
   box-shadow: solid 3px #333 ;
   font-weight: 600;
   justify-content: center;
   text-align: center;
}

#password{
    width:76%
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}



button {
    background-color: #5765bd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}