body {
    font-family: Arial, sans-serif;
    background-image: url(https://cdn.unenvironment.org/2022-11/GettyImages-1372577388_small.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #f3f9f3;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: 18px;
}


.puk {
    display: flex;
}

.login-container h2 {
    text-align: center;
    color: #399c3c;
    margin-bottom: 30px;
    font-size: xx-large;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;

}
.puk button{
    width: 80px;
    
}

button:hover {
    background-color: #45a049;
}

iframe{
    margin-left:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}